.bg-img{
background: url($url);
 height:670px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.menu-main{
   
    margin-top: 15px;
    margin: auto;
    width: 50%;
}


 img{
    vertical-align: baseline;
 }


.logo{
    display: inline-block;
   
    margin-top: 15px;
    margin-right: 286px;
}

.logo a{
    display: block;
}
.navbar {

    margin: auto;
    width: 50%;
    position: static;
}

.nav {

    display: inline-block;
    position: absolute;

}


.nav>li {
    
    float: left;
    margin-top: 19px;
}

/// Header Content

.header-content{
    margin-top: 183px;
    .header-brand{
        font-family: PlayfairDisplay;
        font-size: 32px;
        font-weight: 900;
        letter-spacing: 0.3px;
        text-align: center;
        color: #ffffff;
    }
    .header-separator{
        hr{
        width: 50px;    
        margin-top: 25px;
        margin-bottom: 0;
         display: block;
         height: 1px;
         border: 0;
         border-top: 1px solid #00e0d0;
          padding: 0; 
        }
    }

.header-slogon{
    
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: 0.7px;
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
}


}

