.bg-img{
background: url($url);
 width: 100%;
 height:670px;
 background-position: center top;
 background-size: 100% auto;
}

.menu-main{
   
    margin-top: 15px;
    margin: auto;
    width: 50%;
}


.menu-main ul{
    list-style: none;
    margin-top: 32px;
    display: inline-block;
    position: absolute;

}
 img{
    vertical-align: baseline;
 }
.menu-main ul li{
    float: left;
    margin-left: 36px;
}
.menu-main ul li a{
    display: block;
}


.logo{
    display: inline-block;
    position: relative;
    margin-top: 15px;
}

.logo a{
    display: block;
}
