//Navbar---
@media (max-width: 768px) { 
    
        .logo{
            display: block;
              }
              .nav > li {
                  float: none;
                  text-align: center;
              }
    
     }
    //Navbar---