@media (max-width: 768px) {
  .logo {
    display: block; }
  .nav > li {
    float: none;
    text-align: center; } }

.bg-img {
  background: url("../img/background.png");
  height: 670px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.menu-main {
  margin-top: 15px;
  margin: auto;
  width: 50%; }

.menu-main ul {
  list-style: none;
  margin-top: 32px;
  display: inline-block;
  position: absolute; }

img {
  vertical-align: baseline; }

.menu-main ul li {
  float: left;
  margin-left: 36px; }

.menu-main ul li a {
  display: block; }

.logo {
  display: inline-block;
  margin-top: 15px;
  margin-right: 286px; }

.logo a {
  display: block; }

.navbar {
  margin: auto;
  width: 50%;
  position: static; }

.nav {
  display: inline-block;
  position: absolute; }

.nav > li {
  float: left;
  margin-top: 19px; }

@media (max-width: 768px) {
  .logo {
    display: block; }
  .nav > li {
    float: none;
    text-align: center; } }
